@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  /*****COLORS*****/
  --black: #0d1117;
  --white: #f8f9fb;
  --grey: #999999;
  --background: #f2f2f2;
  --primary-button: #1b5e1d;
  --status: #fbecc3;
  --button-hover: #247c28;
  --brown: #ae9079;
  --light-brown: #f9eded;
  --light-green: #c6d6c6;

  /*****POLICE*****/
  --button-radius: 10px;
  --title-font: "Playfair Display", serif;
  --body-text: "Source Sans 3", sans-serif;
  --font-size-XL: 48px;
  --font-size-L: 36px;
  --font-size-M: 24px;
  --font-size-S: 22px;
  --font-size-XS: 16px;

  /*****SPACING*****/
  --space-XL: 40px;
  --space-L: 24px;
  --space-M: 16px;
  --space-S: 8px;
  --space-XS: 4px;
}
