@media (max-width: 768px) {
  html,
  body {
    overflow: visible;
  }

  .create-trip-page {
    background-color: var(--background);
  }

  .button-back-arrow {
    display: none;
  }

  .back-arrow {
    display: none;
  }

  .create-trip-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.55vh;
  }

  .header-create-new-trip {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .create-trip-page h1 {
    font-family: var(--body-text);
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--black);
    margin-top: 1vh;
  }

  .create-trip-main-content p {
    text-align: center;
    margin-top: 1rem;
    font-family: var(--body-text);
    color: var(--grey);
    font-size: 1rem;
    font-weight: 400;
  }

  .voyage-vert {
    color: var(--primary-button);
  }

  .create-trip-form {
    width: 25rem;
    background-color: #ffffff;
    border-radius: 22px;
  }

  .form-section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 3.5rem;
    border: 1px solid black;
    border-radius: 22px;
    width: 25rem;
    height: 60rem;
    background-color: #ffffff;
  }

  .form-section p {
    justify-content: center;
    font-family: var(--body-text);
    color: var(--black);
    opacity: 0.76px;
    max-width: 53vw;
  }

  .logo-airplane {
    width: 5.5rem;
    height: 5.5rem;
  }

  .form-group {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .form-group label {
    font-family: var(--body-text);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--black);
    margin-left: 0.5rem;
  }

  .form-dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .form-group input {
    height: 5vh;
    border-radius: 12px;
    font-family: var(--body-text);
    font-size: 1.25rem;
    margin-top: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
  }

  .trip-name {
    width: 23rem;
  }

  .trip-destination {
    width: 23rem;
  }

  .input-date {
    width: 23rem;
  }

  .astuces-container {
    display: block;
    width: 20.5rem;
    height: 10.5vh;
    background-color: rgba(217, 217, 217, 0.3);
    border: 1px solid rgba(217, 217, 217, 0.5);
    border-radius: 8px;
    padding: 1rem;
    margin: 3.5rem auto 0;
    font-family: var(--body-text);
    font-size: 1rem;
    color: var(--black);
  }

  .button-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3.5rem;
  }

  .cancel-button {
    width: 8rem;
    height: 4rem;
    border-radius: 8px;
    font-family: var(--body-text);
    font-size: 1.5rem;
    color: var(--black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .create-trip-button {
    width: 16.75rem;
    height: 5rem;
    border-radius: 8px;
    background-color: var(--primary-button);
    font-family: var(--body-text);
    font-size: 1.5rem;
    color: var(--background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
